html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

body {
  height: 100vh;
  font-size: 1.5rem;
}

.no-display {
  display: none;
}

.hide {
  visibility: hidden;
}

.information {
  padding: 2rem 0;
}

.error-message {
  margin: 2rem 0;
  text-align: center;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-wrapper {
  padding: 1rem 0;
  position: relative;
  width: 50vw;
  margin: 0 auto;
}

#search-bar {
  width: 100%;
  padding: 1.25rem 0 1.25rem 1.25rem;
  padding-right: 0;
  line-height: 1.5rem;
  font-size: 1.5rem;
}

#results {
  align-content: stretch;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.picture {
  width: 500px;
  height: 500px;
}

.pokemon-id {
  font-size: 2.5rem;
}

.types {
  padding: 0.75rem 0;
}

.type {
  display: inline-block;
  padding: 6px;
  margin-right: 10px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.75rem;
}

.name {
  font-size: 4.5rem;
  font-weight: 400;
}

.description {
  max-width: 500px;
  padding-top: 2.5rem;
}

.suggestions {
  position: absolute;
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
}

.suggestion {
  padding: 1.25rem;
  line-height: 1.5rem;
  background-color: white;
}

.suggestion:nth-child(even) {
  border-top: solid 1px rgb(233, 231, 231, 0.5);
  border-bottom: solid 1px rgb(233, 231, 231, 0.5);
}

.suggestion.active {
  border: solid 2px rgba(137, 203, 230, 0.8);
}

.suggestion:hover {
  background-color: rgb(231, 224, 224);
}

.type.normal {
  background-color: #a8a878;
}
.type.fire {
  background-color: #f08030;
}
.type.fighting {
  background-color: #c03028;
}
.type.water {
  background-color: #6890f0;
}
.type.flying {
  background-color: #a890f0;
}
.type.grass {
  background-color: #78c850;
}
.type.poison {
  background-color: #a040a0;
}
.type.electric {
  background-color: #f8d030;
}
.type.ground {
  background-color: #e0c068;
}
.type.psychic {
  background-color: #f85888;
}
.type.rock {
  background-color: #b8a038;
}
.type.ice {
  background-color: #98d8d8;
}
.type.bug {
  background-color: #a8b820;
}
.type.dragon {
  background-color: #7038f8;
}
.type.ghost {
  background-color: #705898;
}
.type.dark {
  background-color: #705848;
}
.type.steel {
  background-color: #b8b8d0;
}
.type.fairy {
  background-color: #ee99ac;
}
